<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>bienvenue</title>
</head>
<body>
<div>
<ul th:each ="carnets:${liste}">

<li th:text="${carnets.id}">Monsieur</li>
<li th:text="${carnets.civilite}">Madame</li>
<li th:text="${carnets.nom}">adresse</li>
<li th:text="${carnets.prenom}">paris</li>
<li th:text="${carnets.dateDeNaissance}">paris</li>
<li th:text="${carnets.email}">paris</li>
<li th:text="${carnets.cp}">paris</li>
<li th:text="${carnets.ville}">paris</li>

</ul>

</div>
</body>
</html>